@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap');
*{
  margin: 0;padding: 0;box-sizing: border-box;
   scrollbar-width: thin;

}
body{
     background-color: rgb(217, 254, 161);
}
a{
  text-decoration: inherit;
  color:inherit;
}

.app{
  /* min-height: 98.5vh; */
  width: 90%;
  border:8px solid #011338d3;
  margin:5rem auto;
  padding:35px 5px;
  background-color: rgb(217, 254, 161);
  background: #fff;
    border-radius: 5px;
    box-shadow: 7px 12px 10px 18px #11111142;

  /* background-image: url('/public/ques1.png'); */
}